@use "sass:color";

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #eeeeec;
$bg-color: color.adjust(#3d3846, $saturation: -100%, $lightness: -4%);

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  margin: 5px;
  margin-top: 8px;
  margin-left: 13px;
  margin-right: 16px;
  margin-bottom: 0px;

  > centerbox {
    background: $bg-color;
    border-radius: 10px;
    margin: 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}
